<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Wrapkit - The awesome and beautiful ui kit</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="/assets/library/aos/dist/aos.css" rel="stylesheet">
    <link href="/assets/library/bootstrap-touch-slider/bootstrap-touch-slider.css" rel="stylesheet" media="all">
    <link href="/assets/library/owl.carousel/dist/assets/owl.theme.green.css" rel="stylesheet">
    <!-- This css we made it from our predefine componenet 
    we just copy that css and paste here you can also do that -->
    <link href="css/demo.css" rel="stylesheet">
    <!-- Common style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/yourstyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div id="main-wrapper">
    {{> _navbar}}

      <div class="page-wrapper">
        {{> _msg}}
        {{> _errors}}
        {{{body}}}
      </div>
  </div>
  
   
    <script src="/assets/library/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/library/popper/dist/popper.min.js"></script>
    <script src="/assets/library/bootstrap/js/bootstrap.min.js"></script>
    <!-- This is for the animation -->
    <script src="/assets/library/aos/dist/aos.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="/assets/library/bootstrap-touch-slider/bootstrap-touch-slider.js"></script>
    <script src="/assets/library/jquery.touchSwipe.min.js"></script>
    <script src="/assets/library/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/portfolio.js"></script>

    <script type="text/javascript">
    $('#slider5').bsTouchSlider();
    $(".carousel .carousel-inner").swipe({
        swipeLeft: function(event, direction, distance, duration, fingerCount) {
            this.parent().carousel('next');
        },
        swipeRight: function() {
            this.parent().carousel('prev');
        },
        threshold: 0
    });
    /*******************************/
    // this is for the testimonial 9
    /*******************************/
    $('.testi9').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            1650: {
                items: 1
            }
        }
    });
    // This is for the static slider 6
    $('.video-img').on('click', function() {
        $(this).addClass('hide');
        $('.embed-responsive').show()
            .removeClass('hide');
        $("video").each(function() { this.play() });
    });
    </script>

</body>

</html>