        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Slider  -->
                <!-- ============================================================== -->
                <div class="bg-light">
                    <section id="slider-sec" class="slider5">
                        <div id="slider5" class="carousel bs-slider control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
                            <ol class="carousel-indicators">
                                <li data-target="#slider5" data-slide-to="0" class="active"></li>
                                <li data-target="#slider5" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper For Slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <!-- Slide Background --><img src="images/slider/slide1.jpg" alt="We are Digital Agency" class="slide-image" />
                                    <div class="bs-slider-overlay"></div>
                                    <!-- Slide Text Layer -->
                                    <div class="slide-text slide_style_left">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-9 col-lg-5 ml-auto">
                                                    <h2 data-animation="animated zoomInRight" class="title font-stylish font-bold m-0 p-b-20 p-t-30">Delicious Food</h2>
                                                    <p data-animation="animated lightSpeedIn" class="m-b-40 d-none d-md-block">Not like the brazen giant of Greek fame With conquering limbs astride from land to land Here</p>
                                                    <a class="btn btn-outline-danger btn-md btn-rounded btn-arrow" data-animation="animated fadeInRight" data-toggle="collapse" href="#"> <span>Today's Special <i class="ti-arrow-right"></i></span> </a>
                                                    <div class="promo-code" data-animation="animated fadeInUp">
                                                        <h3 class="title font-semibold text-uppercase m-b-0">Hot Summer - 35 % OFF</h3>
                                                        <p>Apply promocode '154FEB'
                                                            <p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 hidden-md-down"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Slide -->
                                <!-- Second Slide -->
                                <div class="carousel-item">
                                    <!-- Slide Background --><img src="images/slider/slide2.jpg" alt="Building Magical Apps" class="slide-image" />
                                    <div class="bs-slider-overlay"></div>
                                    <!-- Slide Text Layer -->
                                    <div class="slide-text">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-9 col-lg-5 ml-auto">
                                                    <h2 data-animation="animated flipInX" class="title font-stylish font-bold m-0 p-b-20 p-t-30">Delicious Food</h2>
                                                    <p data-animation="animated lightSpeedIn" class="m-b-40 d-none d-md-block">Not like the brazen giant of Greek fame With conquering limbs astride from land to land Here </p>
                                                    <a class="btn btn-danger btn-md btn-rounded btn-arrow" data-animation="animated fadeInRight" data-toggle="collapse" href="#"> <span>Today's Special <i class="ti-arrow-right"></i></span> </a>
                                                    <div class="promo-code" data-animation="animated fadeInUp">
                                                        <h3 class="title font-semibold text-uppercase m-b-0">Hot Summer - 35 % OFF</h3>
                                                        <p>Apply promocode '154FEB'
                                                            <p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 hidden-md-down"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- ============================================================== -->
                <!-- End Slider 1  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Feature 14  -->
                <!-- ============================================================== -->
                <div class="spacer feature14">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <h2 class="m-t-20 m-b-30 font-stylish">Awesome with Extra Ordinary Flexibility</h2>
                                <p>You can relay on our amazing features list and also our customer services will be great experience for our users</p>
                                <p>You will surely fall in love with ready touse bootstrap ui kit framework.</p>
                                <a class="btn btn-rounded btn-danger-gradiant btn-md btn-arrow m-t-20 m-b-30" href="#"><span>View Other Features <i class="ti-arrow-right"></i></span></a>
                            </div>
                            <div class="col-lg-4 wrap-feature14-box">
                                <div class="" data-aos="flip-left" data-aos-duration="1200">
                                    <img class="rounded img-responsive video-img" src="images/features/1.jpg" alt="wrappixel kit" />
                                    <div class="embed-responsive hide embed-responsive-16by9" data-animation="animated fadeIn">
                                        <iframe width="350" height="315" src="https://www.youtube.com/embed/h_YmYLYi65k?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    <div class="m-t-30">
                                        <h5 class="font-medium">Retargeting Market <i class="ti-arrow-right m-l-10 font-14"></i></h5>
                                        <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-lg-4 wrap-feature14-box">
                                <div class="" data-aos="flip-up" data-aos-duration="1200">
                                    <img class="rounded img-responsive" src="images/features/2.jpg" alt="wrappixel kit" />
                                    <div class="m-t-30">
                                        <h5 class="font-medium">Instant Solution <i class="ti-arrow-right m-l-10 font-14"></i></h5>
                                        <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Feature 14  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Feature 44  -->
                <!-- ============================================================== -->
                <div class="spacer feature44 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 text-center align-self-center">
                                <div class="max-500 m-auto">
                                    <h2 class="title font-light font-stylish">Make Unlimited Websites in No-Time with WrapKit</h2>
                                    <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
                                    <h6 class="subtitle m-t-30">You can relay on our amazing features list and also our customer services will be great experience.</h6>
                                    <a class="btn btn-danger-gradiant btn-md btn-rounded btn-arrow m-t-20 m-b-20" href="#"><span>View Other Features <i class="ti-arrow-right"></i></span></a> </div>
                            </div>
                            <div class="col-md-4 wrap-feature2-box">
                                <div class="card card-shadow" data-aos="flip-up" data-aos-duration="1200"> <img class="card-img-top" src="images/features/fruit.jpg" alt="wrappixel kit">
                                    <div class="card-body text-center p-40">
                                        <h6 class="text-muted">Great Products</h6>
                                        <h4 class="font-bold">The New way of Making Your Website in mins </h4>
                                        <a href="#" class="btn btn-link text-success m-t-30 text-underline">View Other Features</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Feature 44  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Feature 28 -->
                <!-- ============================================================== -->
                <div class="feature28">
                    <div class="wrap-feature-28 row">
                        <div class="col-lg-6 bg-cover" style="background-image:url(images/features/3.jpg)"></div>
                        <div class="col-lg-6">
                            <div class="side-content both-space">
                                <small class="text-danger">Great Feature</small>
                                <h2 class="title font-stylish m-t-0">Fully Responsive</h2>
                                <p>You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time and with great quality.</p>
                                <a class="btn btn-outline-danger btn-rounded btn-md btn-arrow m-t-20" href="#"><span>View More <i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-feature-28 row">
                        <div class="col-lg-6">
                            <div class="side-content both-space text-right pull-right">
                                <small class="text-danger">Great Feature</small>
                                <h2 class="title font-stylish m-t-0">Build Amazing Sites</h2>
                                <p>You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time and with great quality.</p>
                                <a class="btn btn-outline-danger btn-rounded btn-md btn-arrow m-t-20" href="#"><span>View More<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 bg-cover" style="background-image:url(images/features/4.jpg)"></div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Feature 28 -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Feature 49  -->
                <!-- ============================================================== -->
                <div class="spacer feature42 bg-danger-gradiant">
                    <div class="container">
                        <div class="row justify-content-center wrap-feature49-box">
                            <div class="col-md-10 col-lg-7 text-center" data-aos="fade-up">
                                <h2 class="title text-white font-stylish">Grab our IOS or Android App from Stores</h2>
                                <h6 class="subtitle text-white op-7 m-b-20">You can relay on our amazing features list. </h6>
                                <a href="javascript:void(0)" class="m-b-20"><img src="images/features/5.png" alt="wrapkit" /></a>
                                <a href="javascript:void(0)" class="m-b-20"><img src="images/features/6.png" alt="wrapkit" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Feature 49  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Gallery  -->
                <!-- ============================================================== -->
                <div class="portfolio1 spacer up">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center">
                                <h2 class="title font-stylish">Amazing Gallery of Delicious Food just made for you</h2>
                            </div>
                        </div>
                        <!-- Card Columns -->
                        <div class="row gallery-box">
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img1.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img2.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img3.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img4.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img5.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img6.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img7.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>New Food Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                            <!-- Columns -->
                            <div class="col-lg-4 col-md-6 g-item">
                                <div class="overlay-box">
                                    <img src="images/gallery/img8.jpg" alt="wrpkit" class="img-fluid">
                                    <a href="javascript:void(0)" class="overlay">
                                        <div class="port-text">
                                            <h5>Golden Fish Dish</h5>
                                            <span>New Dish</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Columns -->
                        </div>
                        <!-- End Card Columns -->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Gallery  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Testimonial 9 -->
                <!-- ============================================================== -->
                <div class="testimonial9 spacer bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <h2 class="m-t-40 font-stylish">What Our Customers Say</h2>
                                <span class="devider bg-danger"></span>
                                <p>We care what our customers think of us and so should you. We are partners in your business and your success is ours in your business.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 ml-auto">
                                <div class="owl-carousel owl-theme testi9">
                                    <!-- item -->
                                    <div class="item">
                                        <div class="card card-shadow">
                                            <div class="p-40">
                                                <h5 class="text">WrapKit has given our websites huge national presence. We are #1 on page one in Google search results for every website we’ve built, and rank for more keywords than I ever expected in a very competitive, high-value customer industry. In addition,</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex no-block align-items-center">
                                            <div class="customer-thumb"><img src="images/test/1.jpg" alt="wrapkit" class="circle" /></div>
                                            <div class="">
                                                <h6 class="font-bold m-b-0">Michael Anderson</h6><span class="font-13">Project client</span></div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="item">
                                        <div class="card card-shadow">
                                            <div class="p-40">
                                                <h5 class="text">WrapKit has given our websites huge national presence. We are #1 on page one in Google search results for every website we’ve built, and rank for more keywords than I ever expected in a very competitive, high-value customer industry. In addition,</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex no-block align-items-center">
                                            <div class="customer-thumb"><img src="images/test/2.jpg" alt="wrapkit" class="circle" /></div>
                                            <div class="">
                                                <h6 class="font-bold m-b-0">Michael Anderson</h6><span class="font-13">Project client</span></div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="item">
                                        <div class="card card-shadow">
                                            <div class="p-40">
                                                <h5 class="text">WrapKit has given our websites huge national presence. We are #1 on page one in Google search results for every website we’ve built, and rank for more keywords than I ever expected in a very competitive, high-value customer industry. In addition,</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex no-block align-items-center">
                                            <div class="customer-thumb"><img src="images/test/3.jpg" alt="wrapkit" class="circle" /></div>
                                            <div class="">
                                                <h6 class="font-bold m-b-0">Michael Anderson</h6><span class="font-13">Project client</span></div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Testimonial 9 -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Client 2  -->
                <!-- ============================================================== -->
                <div class="client2 bg-light">
                    <div class="container">
                        <div class="row client-box text-center">
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c1.png" alt="wrapkit" />
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c2.png" alt="wrapkit" />
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c3.png" alt="wrapkit" />
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c4.png" alt="wrapkit" />
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c5.png" alt="wrapkit" />
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <img src="images/client/c6.png" alt="wrapkit" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Client 2  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Feature 23 -->
                <!-- ============================================================== -->
                <div class="feature23 wrap-feature23-box" style="background-image:url(images/features/7.jpg)">
                    <div class="container">
                        <!-- Row -->
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-7 text-center both-space">
                                <div class="card bg-danger-gradiant" data-aos="flip-left" data-aos-duration="1200">
                                    <div class="card-body">
                                        <div class="text-box">
                                            <h3 class="title text-white font-stylish">Make your Reservation for Delicious Food</h3>
                                            <h6 class="subtitle text-white op-5">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6> <a class="btn bg-white text-danger btn-rounded btn-md btn-arrow m-t-20" href="#"><span>Reserve Your Table <i class="ti-arrow-right"></i></span></a> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Feature 23 -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Back to top -->
            <!-- ============================================================== -->
            <a class="bt-top btn btn-circle btn-lg btn-danger" href="#top"><i class="ti-arrow-up"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->